<%= form_for(@post) do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>



  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>

 

  <input type="text" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]" />
  <input type="text" id="post_categories_attributes_1_name" name="post[categories_attributes][1][name]" />
  <%= f.submit %> 

<% end %>